* {
  box-sizing:border-box;
  margin: 0em;
  padding: 0em;
  border-color:rgb(172, 196, 220);
}

#Header {
  text-align:center;
  height:10%;
  width:100%;
  color:WHITE;
  background-image:url("\header.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
}

#MainLinks {
  float:center;
  text-align:center;
  border-color:black;
  border:1em;
}

.UpperPanel {
  height:30%;
  width:100%;
  display:inline-block;
	}

.R1C1 {
	display:block;
}

.R1C2 {
}

.R1C3 {
}

.R2C1 {
	display:block;
}

.R2C2 {
}

.R2C3 {	
}
.R1C1:hover {
  border-bottom-width:1em;
  border-right-width:1em;
}

.R1C2:hover {
  border-bottom-width:1em;
}

.R1C3:hover {
  border-bottom-width:1em;
  border-left-width:1em;
}

.R2C1:hover {
  border-top-width:1em;
  border-right-width:1em;
}

.R2C2:hover {	
  border-top-width:1em;
}

.R2C3:hover {
  border-top-width:1em;
  border-left-width:1em;
}

.MissionUpdates {
  text-align:center;
  display:block;
  height:40em;
  width:60em;
  background-color:rgb(112, 183, 254);
}
img {
  border-radius: 100%;
}
/* Color pallet */
/* blue bottom: rgb(112, 183, 254) */
/* light blue grey under tile: rgb(172, 196, 220) */
/* Darker blue grey over tile: rgb(172, 196, 220) */
/* Character colors: rgb(172, 196, 220) */